﻿@model CrudMovies.Models.Movies

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Seguro que quiere eliminar el registro?</h3>
<div>
    <h4>Peliculas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idMov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idMov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreMov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreMov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.directorMov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.directorMov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duracionMov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duracionMov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaMov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaMov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.generoMov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.generoMov)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
