﻿@model CrudMovies.Models.Movies

@{
    ViewData["Title"] = "Detail";
}

<h1>Detalles</h1>

<div>
    <h4>Peliculas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idMov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idMov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreMov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreMov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.directorMov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.directorMov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duracionMov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duracionMov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaMov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaMov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.generoMov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.generoMov)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Regresar</a>
</div>
