﻿@model CrudMovies.Models.Movies

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Peliculas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idMov" class="control-label"></label>
                <input asp-for="idMov" class="form-control" readonly />
                <span asp-validation-for="idMov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombreMov" class="control-label"></label>
                <input asp-for="nombreMov" class="form-control" />
                <span asp-validation-for="nombreMov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="directorMov" class="control-label"></label>
                <input asp-for="directorMov" class="form-control" />
                <span asp-validation-for="directorMov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duracionMov" class="control-label"></label>
                <input asp-for="duracionMov" class="form-control" />
                <span asp-validation-for="duracionMov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaMov" class="control-label"></label>
                <input asp-for="fechaMov" class="form-control" />
                <span asp-validation-for="fechaMov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="generoMov" class="control-label" style="width:500px;"></label>
                <select name="generoMov" style="width:350px;">
                    <option value="">Selecciona</option>
                    <option value="Accion">Accion</option>
                    <option value="Aventura">Aventura</option>
                    <option value="Terror">Terror</option>
                    <option value="Comedia">Comedia</option>
                    <option value="Romance">Romance</option>
                </select>

            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
