﻿@model IEnumerable<CrudMovies.Models.Movies>

@{
    ViewData["Title"] = "Index";
}
    <body background="img/cine.jpg">
        <h1>Peliculas</h1>

        <p>
            <a asp-action="Create">Agregar</a>
        </p>

        <form asp-action="Index" method="get">
            <input type="search" placeholder="Busca por titulo o por genero" name="movSearch"
                   value="@ViewData["GetMoviesDetails"]" style="width:300px;" />
            <input type="submit" value="Buscar" class="btn btn-outline-dark" />
            <a asp-action="Index" class="btn btn-outline-dark">Ver todos</a>
        </form>


        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.nombreMov)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.directorMov)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.duracionMov)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fechaMov)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.generoMov)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombreMov)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.directorMov)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.duracionMov)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaMov)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.generoMov)
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Detail", new { id = item.idMov }, new { @class = "btn btn-outline-warning" })
                            @Html.ActionLink("Modificar", "Edit", new { id = item.idMov }, new { @class = "btn btn-outline-success" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.idMov }, new { @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </body>