﻿@model IEnumerable<CrudClientes.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>

<form asp-action="Index" method="get">
    <input type="search" placeholder="Nombre o email..." name="cliSearch"
           value="@ViewData["GetClienteDetails"]" style="width:500px;" />
    <input type="submit" value="buscar" class="btn btn-primary" />
    <a asp-action="Index">Ver todos</a>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdadCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdadCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoCliente)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdCliente }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Detalles", "Detail", new { id = item.IdCliente }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.IdCliente }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }
    </tbody>
</table>
